<div class="mb-10">
    <!-- <p>
        CONFIG: 
        {{config | json}}
    </p> -->
    
    <!-- <p>
        FORM: 
        {{filterForm.value | json}}
    </p> -->
    
    
    <p>
        FILTERS:
        {{filterForm.get('filters')?.value | json}}
    </p>
    
    <!-- <p>
        FILTER SELECTED CONTROL:
        {{filterOptionsMenu.value | json}}
    </p> -->
</div>


<div>

    <div [formGroup]="filterForm">

        <ng-container formArrayName="filters">

            <ng-container *ngFor="let filterControl of filters.controls; let i = index">
                <div class="flex gap-4" [formGroupName]="i">
                
                    <!-- <mat-form-field appearance="fill">
                        <input matInput formControlName="displayName" placeholder="filter displayName">
                    </mat-form-field> -->

                    <label for="">Nombre: </label>

                    <mat-form-field>
                        <mat-select [formControl]="filterOptionsMenu" (selectionChange)="filterOptionsChange($event.value, i)">
                          <mat-option *ngFor="let field of config.fields" [value]="field">
                            {{field.displayName}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>

                      <div class="border border-gray-200 p-2">
                        Opciones
                      </div>

                    <mat-form-field appearance="fill">
                        <input matInput formControlName="displayName" placeholder="filter values">
                    </mat-form-field>

<!-- 
                    
                        <mat-select placeholder="Elige una opción">
                            <mat-option [value]="option._id" *ngFor="let option of config.filterOptionsMenu">{{option.displayName}}</mat-option>
                        </mat-select> -->

                        
                    <mat-icon class="delete-btn" (click)="deleteFilter(i)">
                        delete_forever</mat-icon>
                </div>
            </ng-container>
        </ng-container>

    </div>

    <button [type]="'button'" (click)="addFilter()">+ Agregar filtro</button>
</div>

<div>

</div>